body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
}
p, a {
  font-size: 1.2rem
}

.term {
  font-weight: bold;
}

.subtitle {
  font-style: italic;
}

.warning {
  color: white;
  background-color: #f44336;
  padding: 16px;
  border-radius: 3px;
}

.code {
  height: auto !important;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: 'Source Code Pro', monospace;
  background: #282c34;
  margin: 25px -30px 25px -30px;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-radius: 10px;
}

ul.nodots {
  list-style: none;
}
